<div class="s-content">

  <div class="masonry-wrap">

    <div class="masonry">

      <div class="grid-sizer"></div>
      <% posts.forEach(function(post){ %>

        <article class="masonry__brick entry format-standard animate-this">

          <div class="entry__thumb">
            <a href="http://localhost:3000/posts/<%= post._id %>" class="entry__thumb-link">
              <img src="/images/<%= post.image %>" srcset="/images/<%= post.image %>" alt="">
            </a>
          </div>

          <div class="entry__text">
            <div class="entry__header">
              <h2 class="entry__title"><a href="http://localhost:3000/posts/<%= post._id %>">
                  <%= post.title %>
                </a></h2>
              <div class="entry__meta">
                <span class="entry__meta-date">
                  <a href="#">
                    <%= post.publish_date %>
                  </a>
                </span>
              </div>

            </div>
            <div class="entry__excerpt">
              <p>
                <%= post.content%>
              </p>
            </div>
          </div>

        </article> <!-- end article -->
        <%});%>

    </div> <!-- end masonry -->

  </div> <!-- end masonry-wrap -->

</div> <!-- end s-content -->