<!-- site content
        ================================================== -->
<div class="s-content content">
    <main class="row content__page">

        <article class="column large-full entry format-standard">

            <div class="media-wrap entry__media">
                <div class="entry__post-thumb">
                    <img src="/images/<%= post.image %>" 
                    srcset="/images/<%= post.image %>" style="max-width:2000px 100vw 2000px" alt="">
                </div>
            </div>

            <div class="content__page-header entry__header">
                <h1 class="display-1 entry__title">
                    <%= post.title %>
                </h1>
                <ul class="entry__header-meta">
                    <li class="author"><a href="#0"></a></li>
                    <li class="date">
                        <%= post.publish_date %>
                    </li>
                    <li class="cat-links">
                        <a href="#0"></a><a href="#0"></a>
                    </li>
                </ul>
            </div> <!-- end entry__header -->

            <div class="entry__content">
                <p class="lead drop-cap">
                    <%= post.content %>
                </p>
            </div> <!-- end entry content -->



        </article> <!-- end column large-full entry-->


        <div class="comments-wrap">

            <div id="comments" class="column large-12">

                <!-- START commentlist -->
                <ol class="commentlist">
                    
                </ol>
                <!-- END commentlist -->

            </div> <!-- end comments -->



        </div> <!-- end comments-wrap -->
    </main>

</div> <!-- end s-content -->